/* webpage perimeter styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Universal Styling*/

a {
    color: #0c0808;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Background color for body */

body {
    background-color: rgb(190, 190, 190);
}


/*Header Styling*/

header {
    display:flex;
    padding-top: .5%;
    padding-bottom: .5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: rgb(32, 77, 95);
    justify-content: space-between;
    font-size: 32px;
    position: sticky;
    position: -webkit-sticky;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    z-index: 9999;
    top: 0;
}

.text_box {
    display: flex;
    background-color: rgb(146, 203, 205) ;
    border: 1px solid rgb(146, 203, 205) ;
    flex-wrap: wrap ;
    width: 350px;
    margin-bottom: 5px;
}

/*Nav Styling*/

header h1 {
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    font-size: 55px;
    flex-wrap: nowrap;
}

header nav {
    margin-bottom: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    color: rgb(146, 203, 205);
    font-size: larger;
    text-decoration-color:rgb(146, 203, 205);
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

/*Hero*/

.hero {
    height: 15vw;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/textured_background_v2.jpg");
    display: flex;
    text-align: left;
    position: relative;
    justify-content: right;
}

.hero_text_container {
    font-size: 2vw;
    position: static;
    background-color: rgb(146, 203, 205);
    width: fit-content;
    height: fit-content;
    margin-top: 225px;
    margin-right: 100px;
    font-style: bolder;
    flex-grow: 10%;
    justify-content: end;
}

/*about_me Section*/

.about_me_section {
    display: flex; 
    justify-content: space-between;
    align-content: center;
    padding-top: 25px;
}

.section_title {
    display: flex;
    padding-left: 16.7%;
    font-size: 35px;
    border-right: 10px rgb(93, 93, 107) solid;
    padding-right: 1.5%;
    margin-left: -10%;
    color: rgb(44, 62, 63);
}

.about_me_text {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.55vw;
    padding-left: 1.5%;
    margin-left: 1.5%;
    padding-bottom: 25px;
}

/* Work Section */

.work_section{
    display: flex; 
    padding-top: 25px;
    padding-left:0.75%;
    flex-wrap: wrap;
    flex-direction: row;
}

.work_section_title{
    display: flex;
    padding-left: 16.7%;
    font-size: 35px;
    border-right: 10px rgb(93, 93, 107) solid;
    padding-right: 1.5%;
    margin-left: -10%;
    color: rgb(44, 62, 63);
}

.first_work_example{
    margin-right: 10px;
}


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 100px;
    background-color: black;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}
